*{
 box-sizing: border-box;
 font-family: Arial, Helvetica, sans-serif;
 margin: 0;
 padding: 0;
   background: rgb(2, 2, 26);

}
 body{
   position: relative;
   padding-bottom: 100px;
   min-height: 100vh;
}

input[type='text']{
 border-radius: 10px;
 border-color:  #999999;
 width: 335px;
 margin-left: 20px;
}

.ngaho{
color:blue;text-align:center;
}

@media screen and (max-width: 600px) {
  input[type='text']{
    width: 310px;
  }
  .dimension > input[type='text']{
    width: 290px;
  }
  .description{ 
    font-size: 13px;
  }

  .footer{
    position:absolute;
    bottom: 0;
    width: 77%;  
    font-size: 16px;
    margin-bottom: 10px;
  }
  
}


.footer{
  position:absolute;
  bottom: 0;
  width: 77%;  
  text-align: center;
  margin-bottom: 40px;
}

input[type='checkbox']{
 margin-top: 2px;
 margin-left: 3px;
}

.form-group{
 margin: 10px 20px;
}

.description{
  font-weight: 600;
  margin-left: 15px;
}

.dimension{
 margin: 10px;
}

#productType{
 border-radius: 10px;
 border-color:  #999999;
 width: 200px;
 margin-left: 20px;
}

p{
 text-align: center;
}

label{
 font-weight: 600;
 margin: 10px 10px;
 display: inline-block;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 14px 16px;
    font-size: 25px;
}
